body {
 background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
 animation: gradient 5s ease infinite;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
 }
  50% {
    background-position: 100% 50%;
 }
  100% {
    background-position: 0% 50%;
 }
}

form {
 width: 400px;
 margin: 50px auto;
}

input[type="search"] {
 width: 75%;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
}

input[type="submit"] {
 width: 20%;
 padding: 10px;
 background-color: #4CAF50;
 color: white;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

input[type="submit"]:hover {
 background-color: #45a049;
}

h1 {
 text-align: center;
}

